.cd-form {
  width: 70%;
  max-width: 600px;
  margin: 2em auto;
  font-size: 1.2rem;
  color: #94aab0;
  margin-bottom: 5px;
  display: block;
}

.cd-form::after {
  clear: both;
  content: "";
  display: table;
}
.cd-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
  display: block;
  width: 100%;
  appearance: none;
}
.cd-form div {
  position: relative;
  margin: 10px 0;
}

.cd-form input, .cd-form select {
  font-family: sans-serif;
  font-size: 1.2rem;
  color: darkslategray;
}

.cd-form input[type="text"],
.cd-form input[type="password"],
.cd-form select {
  display: block;
  width: 100%;
  appearance: none;
}

.cd-form input[type="text"],
.cd-form input[type="password"],
.cd-form select {
  padding: 7px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
}

.cd-form input[type="text"]:focus,
.cd-form input[type="password"]:focus,
.cd-form select:focus {
  outline: none;
  border-color: firebrick;
}

.cd-form .cd-select {
  position: relative;
}

.cd-form .cd-select::after {
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("img/ic_arrow.svg") no-repeat center center;
  pointer-events: none;
}

.cd-form select {
  cursor: pointer;
}


.cd-form input[type="submit"] {
  border: .1rem solid firebrick;
  background: #424242;
  border-radius: .25em;
  padding: 10px 20px;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  cursor: pointer;
  float: right;
  appearance: none;
}

.cd-form input[type="submit"]:hover {
  opacity: 80%;
}
.cd-form input[type="submit"]:active {
  transform: scale(0.9);
}
button:hover{
    opacity: 80%;
}
button:active{
    transform: scale(0.9);
}


.cd-form .error-message {
	display: none;
}

.cd-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  border-radius: .25em;
  padding: 16px;
}

.cd-form .success-message p {
  background: #4caf50;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  border-radius: .25em;
  padding: 16px;
}

.cd-form .error-field {
  border-color: #e94b35 !important;
}

@media(min-width: 600px) {
  .cd-form div {
    margin: 32px 0;
  }
  .cd-form div {
    margin-top: 20px;
  }
  .cd-form input[type="text"],
  .cd-form input[type="password"],
  .cd-form select {
    padding: 16px;
  }
}